{% extends 'base.html' %} {% block body %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dashboard</h4>
                    <p class="card-description">
                        This Week Minute
                    </p>
                    <form action="{{url_for('thisWeekMinute.edit',id=contents['id'])}}" method="post" enctype="multipart/form-data" class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputName1">Headline</label>
                            <input type="text" class="form-control" value="{{contents['headline']}}" id="exampleInputName1" name="headline" placeholder="Headline...">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Content</label>
                            <textarea class="form-control" name="content" id="exampleTextarea1" rows="9">
                                {{contents['content']}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectGender">Category</label>
                            <select name="category" class="form-control" id="exampleSelectGender">
                                <option value="0">Please select</option>
                                <option value="Agenda">Agenda</option>
                                <option value="Feature">Feature</option>
                                <option value="Fineline">Fineline</option>
                                <option value="Viewpoint">View Point</option>
                  </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Excerpt</label>
                            <textarea name="excerpt" class="form-control" id="exampleTextarea1" rows="9">
                                {{contents['excerpt']}}
                            </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Edit</button>
                        <a href="{{url_for('thisWeekMinute.show')}}" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}