{% extends 'base.html' %} {% block body %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Edition Budget</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Show</a></li>
                            <li class="active">Edition Budget</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <p style="color:#237E34">
                        {{ message }}
                    </p>
                    {% endfor %} {% endif %} {% endwith %}
                </div>
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Column</strong>
                        <a href="{{url_for('edtionBudget.create')}}" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>total_page</th>
                                    <th>number</th>
                                    <th>volume</th>
                                    <th>total_advertisement</th>
                                    <th>no_of_color_pages</th>
                                    <th>created_at</th>
                                    <th>created_by</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in EdtionBudget %}
                                <tr>
                                    <td>{{ post['total_page'] }}</td>
                                    <td>{{ post['number'] }}</td>
                                    <td>{{ post['volume'] }}</td>
                                    <td>{{ post['total_advertisement'] }}</td>
                                    <td>{{ post['no_of_color_pages'] }}</td>
                                    <td>{{ post['created_at'] }}</td>
                                    <td>{{ post['created_by'] }}</td>
                                    <td><a href="{{url_for('edtionBudget.edit',id=post['id'])}}"><i class="fa fa-edit"></i></a> <a href="{{url_for('column.delete',id=post['id'])}}"><i class="fa fa-trash-o"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- .animated -->
</div>
<!-- .content -->


<div class="clearfix"></div>
{% endblock %}