{% extends 'base.html' %} {% block body %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Dashboard</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="card-description">
                                Op-Ed
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a sttype="button" style="color:white" class="btn btn-primary btn-rounded btn-fw">Create Content</a>
                        </div>
                        <div class="col-md-9">
                            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                            <p style="color:#237E34">
                                {{ message }}
                            </p>
                            {% endfor %} {% endif %} {% endwith %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Headline
                                    </th>
                                    <th>
                                        Content
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th>
                                        Excerpt
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        writtenBy
                                    </th>


                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for post in OpEd %}
                                <tr>
                                    <td>
                                        {{ post['headline'] }}
                                    </td>
                                    <td>
                                        {{ post['content'] }}
                                    </td>
                                    <td>
                                        {{ post['category'] }}
                                    </td>
                                    <td>
                                        {{ post['excerpt'] }}
                                    </td>
                                    <td>
                                        {{ post['date'] }}
                                    </td>
                                    <td>
                                        {{ post['writtenBy'] }}
                                    </td>
                                    <td style="overflow: hidden;"><a style="text-decoration: none;" href="{{url_for('opEd.edit',id=post['id'])}}"><i title="Edit" class="ti-write"></i></a>
                                        <a style="text-decoration: none; float: left;" href="{{url_for('opEd.delete',id=post['id'])}}"><i title="Delete" class="ti-close"></i></a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}